* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tauri', sans-serif;
    background-color: lightgrey;
}

h1 {
    color: #E4296B;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

p {
    text-align: center;
    padding-bottom: 50px;
}

img {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.card_image {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0px 20px;
    margin-bottom: 30px;
}

.card {
    background-color: black;
    border-radius: 10px;
    box-shadow: 3px 2px rgba(15, 14, 14, 0.2);
    overflow: hidden;
}

.nome {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    padding-top: 8px;
    color: white;
}

.role {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

.email {
    text-decoration: none;
    font-size: 14px;
}